<!DOCTYPE html>
<html>
<head>
	<title>MLH Hackathon | Know Me</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
	<style type="text/css">
	body{
		background-image: linear-gradient(to right, #cc2b5e , #753a88);
	}
	.ui.segment{
		width: 30%;
		float:right;
		margin-right:50px;
	}

</style>
</head>

<body>
	<div class="ui menu">
		<div class="ui category search item">
			<img class="ui top aligned tiny image" src="/images/logo.jpeg">

		</div>
		<div class="right menu">
			<div class="html ui top attached segment">
				<a href="//linkedin.com/in/prncvrm" target="_blank" class="ui blue image label">
					<img src="/avatar/christian.jpg">
					Prince Verma
					<div class="detail">Full Stacker</div>
				</a>
				<a href="//linkedin.com/in/aashish360" target="_blank" class="ui teal image label">
					<img src="/avatar/jenny.jpg">
					Aashish Mallick
					<div class="detail">Game Dev</div>
				</a>
				<a href="//linkedin.com/in/satyam-singhania" target="_blank" class="ui orange image label">
					<img src="/avatar/christian.jpg">
					Satyam Singhania
					<div class="detail">Designer</div>
				</a>
				<a href="//linkedin.com/in/sanjeev-biswas-153b52129" target="_blank" class="ui green image label">
					<img src="/avatar/jenny.jpg">
					Sanjeev Biswas
					<div class="detail">Algos</div>
				</a>
			</div>
		</div>
	</div>
	<div class="ui segment">
		<div class="ui one column stackable center aligned grid">
			<div class="center aligned row">
				<div class="column">
					<% include ref%>
				</div>
				<div class="column center">
					<div class="ui icon header">
						What is it?
					</div>
					<p>
						A platform where you can connect people from different expertise.
					</p>
					<p>
						<hr>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>